<div class="jumbotron center">
<h1>Hello, Mr. Simple</h1>
	<br />
<p><%= link_to "Login", new_user_session_path, class: "btn btn-success btn-lg" %>
<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>

</div>