<div class="jumbotron center">
<h1>Hello, Mr. Simple</h1>
	&nbsp
<p><%= link_to "Login", "#", class: "btn btn-success btn-lg" %>
<%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %></p>
</div>